<!DOCTYPE html>
<html>
    <head>
        <title>Change login</title>
    </head>
    <body>
        <h1>Welcome, <span id="usernamePlaceholder"></span></h1>
        <h2> Change user's password</h2>
        <form action="changePassword" method="post">
            <input type="text" id="usernameChangePassword" name="usernameChangePassword" placeholder="username" required> 
            <input type="password" id="newPassword" name="newPassword" placeholder="NewPassword" required> 
            <button>Change</button>
        </form>
    </body>

</html>